# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.env

# OS files
.DS_Store
Thumbs.db

# QGIS project backup files
*.qgs~
*.qgz~

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
*.tmp

# VS Code
.vscode/

# PyCharm
.idea/

# Data files that may become very large
data/raw_osm_states/*.json
data/raw_osm_state_exits/*.json

# Ignore compiled files
*.so
